
    .myclub,.trending-space,.events,.latest-activity,.search,.dummy{
        display: none;
}
.container{
    width: 100vw;
    padding: 15px 0 15px 0;
}

.nav{
    justify-content: space-between;
    padding: -1px 0px 0px 20px;
    height: 60px;
}
.icons {
    height: 36px;
    width: 40px;
    margin-left: 40px;
}
.icons-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.nav2{
    display: flex;

    padding:0 15px 0 0px;
    position: fixed;
    bottom: -2px;
    width: 100%;
    height: 55px;
}
.nav2-icons-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-mobile{
    height: 40px;
    width: 40px;
}
.nav2-profile-icons{
    width: 40px;
    height: 40px;
    border-radius: 50px;   

}
.nav2-icons-list{
    padding: 10px;
}
.more-options img{
    height: 30px;
    width: 30px;
}
.time-stamp-span{
    display: none;
}
.time-stamp-mobile{
    display: inline-block;
    font-size: small;
}
.feed{
    padding-bottom: 7vh;
}
.feed.active1{
    display: none;
}
.feed.active2{
    display: none;
}
.feed.active3{
    display: none;
}
.comment{
    padding: 10px;
}






/* ---search--- */
.search-container{
    display: none;
    height: 85vh;
    width: 100vw;
}

.search-container.active-search-container{
    display: contents;
    width: 100vw;
    background-color: #494949;
}
.search-container .images-search-container{
    display: flex;
    width: 100vw;
    flex-direction: column;
}
.container-search-mobile{
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
}
.search-mobile{
    width: 98vw;
    height: 6vh;
    
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color:#ffffff ;
    }
    .search-mobile::placeholder{
        padding-left: 3px;
        font-size: 16px;
    }
.content{
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: 1fr 1fr ;
    margin-top: 10px;
    padding-bottom: 7vh;
    column-gap: 3px;
    row-gap: 2px;
}
.thumbnail img{
    width: 100%;
}
    
.trending-space.active-trending{
    display: contents;
}
.trending-line{
    width: 95vw;
    height: 1px;
    background-color: #afafaf;
    display: inline-block;
    border-radius: 50px;
    padding-right: 10px;
}
.myclub h3,.latest-activity h3,.trending-space h3{
    font-size: xx-large;
    margin: 15px;
    font-family: 'Lato', sans-serif;
}
.activity-img, .trending-img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 5px;
}
.trending-info p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
}
 
.events.active-notifications{
    display: contents;
    margin-top: 20px;

}
.latest-activity.active-notifications{
    display: contents;
}
.event-holder{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.event-content{
    top: 10vh;
    margin-top: 5vh;
    padding: 10px;
}
.activity-line{
    width: 95vw;
    height: 1px;
    background-color: #afafaf;
    display: inline-block;
    border-radius: 50px;
    padding-right: 10px;
}
.activity-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 450;
    font-size: 15px;
}
.activity-time-stamp {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 450;
    font-size: 6px;
    font-size: 11px;
}
.activity-img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-right: 5px;
}

.profile-details h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 550;
    font-size: 21px;
}
.activity-display{
    margin-bottom: 50px;
}
